@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url("https://fonts.googleapis.com/css?family=Krub:300");
.navbar-light .navbar-brand {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fixed-top.scrolled {
  background-color: #fff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.bar.black {
  background-color: black;
}

.navbar-brand.black {
  color: black;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
}

body nav {
  z-index: 1 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body nav .transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

body nav .navbar-brand {
  display: table;
  margin: 0 auto;
  font-family: 'Krub', sans-serif;
  font-size: 2em;
}

body nav .bar {
  display: block;
  height: 3px;
  width: 35px;
  background-color: white;
  margin: 7px auto;
}

@media screen and (min-width: 1365px) {
  body nav .bar {
    width: 0px;
  }
}

body nav .button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
}

body nav:hover {
  background-color: white;
}

body nav:hover .bar {
  background-color: black;
}

body nav:hover .navbar-brand {
  color: black;
}

body .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

body .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .sidenav a:hover {
  color: #f1f1f1;
}

body .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

body header .header-img {
  background-image: url("/images/mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (min-width: 1365px) {
  body header .header-img {
    background-image: url("/images/desktop.jpg");
  }
}

body main {
  background-color: #DDC4DD;
}

body main .main-text {
  font-family: 'Krub', sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
}

body main .container-1 {
  margin-left: 1%;
  padding-bottom: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body main .container-1 .img-1 {
  background: url("/images/main-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

body main .container-1 .texto-1 {
  text-align: center;
  font-family: 'Krub', sans-serif;
  color: white;
  padding-top: 100%;
}
/*# sourceMappingURL=style.css.map */