@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Krub:300');
$desktop: 1365px;
@mixin desktop {
    @media screen and (min-width: #{$desktop}) {
        @content;
    }
}

.navbar-light .navbar-brand {
    color: white;
    transition: 0.4s;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.bar.black {
    background-color: black;
}

.navbar-brand.black {
    color: black;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    transition: .5s;
    nav {
        z-index: 1 !important;
        transition: 0.4s;
        .transparent {
            border-width: 0px;
            -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
            background-color: rgba(0, 0, 0, 0.0);
            background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
            background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
        }
        .navbar-brand {
            // Centralizando elementos
            display: table;
            margin: 0 auto;
            font-family: 'Krub', sans-serif;
            font-size: 2em;
        } // navbar button
        .bar {
            display: block;
            height: 3px;
            width: 35px;
            background-color: white;
            margin: 7px auto;
            @include desktop {
                width: 0px;
            }
        }
        .button {
            cursor: pointer;
            display: inline-block;
            width: auto;
            margin: 0 auto;
        }
    }
    nav:hover {
        background-color: white;
        .bar {
            background-color: black;
        }
        .navbar-brand {
            color: black;
        }
    } // sidenav
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    } // header
    header {
        .header-img {
            background-image: url("/images/mobile.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 100vh;
            width: 100%;
            transition: 0.4s;
            @include desktop {
                background-image: url("/images/desktop.jpg");
            }
        }
    }
    main {
        background-color: #DDC4DD;
        .main-text {
            font-family: 'Krub', sans-serif;
            font-size: 2em;
            text-align: center;
            padding-top: 5%;
            padding-bottom: 2%;
            color: white;
        }
        .container-1 {
            margin-left: 1%;
            padding-bottom: 1%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .img-1 {
                background: url("/images/main-1.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 500px;
                border-radius: 5px;
            }
            .texto-1 {
                text-align: center;
                font-family: 'Krub', sans-serif;
                color: white;
                padding-top: 100%;
            }
        }
    }
}